$white: #FFF;
$black: #000;
$lightgrey: rgba(255, 255, 255, 0.8);
$grey: #2F2F2F;
$vanilla: #FFF2CC;
$depoimentosCard: #F7F7F7;

$green: #21594F;
$green2: #3A6C63;
$green3: #4A776F;
$green4: #557F77;
$green5: #648A84;
$green6: #789C96;
$greenhover: #0D4238;


$text1: #353A42;
$text2: #8A8A8A;

$background: #F3F3F3;