@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.nossos-clientes__container_desk {
  display: flex;
  padding-top: 10rem;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  align-self: stretch;
}
.nossos-clientes__container_desk .nossos-clientes__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nossos-clientes__container_desk .nossos-clientes__header .header__title1 {
  font-size: 1.75rem;
  line-height: normal;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
  max-width: 60%;
  font-size: 3rem;
}
.nossos-clientes__container_desk .nossos-clientes__header .header__title1 .text-highlight {
  font-weight: 500;
  color: #21594F;
}
.nossos-clientes__container_desk .nossos-clientes__header .header__title2 {
  font-size: 0.75rem;
  font-weight: 500;
  color: #8A8A8A;
  text-transform: uppercase;
  font-size: 1rem;
}
.nossos-clientes__container_desk .nossos-clientes__header .header__text1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 300;
  color: #353A42;
  line-height: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  max-width: 55%;
}
.nossos-clientes__container_desk .nossos-clientes__body {
  width: 100%;
  display: flex;
  padding: 0rem 10%;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
}
.nossos-clientes__container_desk .nossos-clientes__body .logo__clientes {
  display: flex;
  height: 7.5rem;
  width: 15rem;
  padding: 0 1.5rem;
  justify-content: center;
  align-items: center;
  scale: 1.4;
}