@import "../../../styles/padroes/padroes.scss";

.form {
  width: 100%;
  display: flex;
  padding: 2rem 1.25rem 2.125rem;
  flex-direction: column;
  background-color: $vanilla;

  .form__container {
    display: flex;
    padding: 1.5rem 1.25rem;
    flex-direction: column;
    gap: 1.25rem;
    border-radius: 0.25rem;
    background: $white;
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(28px);
    
    .form__title2 {
      @include title2;
      text-transform: uppercase;
    }
    .form__title1 {
      @include title1;
    }
    .form__text1 {
      @include padrao;
      line-height: 1.5rem
    }

    .form__body {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .form__label {
        display: flex;
        flex-direction: column;
        gap: 0.63rem;

        font-size: 0.875rem;
        font-weight: 400;


        .form__input {
          font-family: $fontFamily;
          font-size: 0.75rem;
          font-weight: 400;
          color: $text2;

          padding: 0.56rem 0.88rem;
          border: 1px solid $background;
          border-radius: 0.125rem;

          resize: none
        }
      }
    }

    .button__submit {
      @include button1;
      width: 100%;
      p {
        font-size: 1rem;
      }
    }

    .form__submitted {
      background: $white;
      outline: 1px solid $green;
      p {
        color: $green;
      }
    }
  }
}
