@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.home__clientes {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
}
.home__clientes .clientes__titles {
  padding: 2rem 1.25rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.home__clientes .clientes__titles .clientes__title2 {
  font-size: 0.75rem;
  font-weight: 500;
  color: #8A8A8A;
  text-transform: uppercase;
}
.home__clientes .clientes__titles .clientes__title1 {
  font-size: 1.75rem;
  line-height: normal;
  font-weight: 300;
}
.home__clientes .clientes__titles .clientes__title1 .text-highlight {
  font-weight: 500;
  color: #21594F;
}
.home__clientes .clientes__brands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.home__clientes .clientes__brands .clientes__slider {
  height: 5.1875rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  animation: slideshow 30s linear infinite;
}
@keyframes slideshow {
  0% {
    left: 10%;
  }
  100% {
    left: -330%;
  }
}
.home__clientes .clientes__brands .clientes__slider-reverse {
  align-self: flex-end;
  animation: slideshow-reverse 30s linear infinite;
}
@keyframes slideshow-reverse {
  0% {
    right: 10%;
  }
  100% {
    right: -300%;
  }
}
.home__clientes .clientes__mainbutton {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 300;
  color: #353A42;
  display: inline-block;
  background: #21594F;
  padding: 0.75rem 2rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  margin: 2rem auto 3rem auto;
}
.home__clientes .clientes__mainbutton * {
  color: #FFF;
  font-weight: 500;
}