@import "../../../../../styles/padroes/padroes.scss";

.home__clientes {
    display: flex;
    flex-direction: column;
    background-color: $background;

    .clientes__titles {
        padding: 2rem 1.25rem 0rem 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .clientes__title2 {
            @include title2();
            text-transform: uppercase;
        }

        .clientes__title1 {
            @include title1();
        }
    }

    .clientes__brands {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .clientes__slider {
            height: 5.1875rem;
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            position: relative;
            animation: slideshow 20s linear infinite;

            @keyframes slideshow {
                0% {
                    left: 10%;
                }
                100% {
                    left: -200%;
                }
            }
        }

        .clientes__slider-reverse {
            align-self: flex-end;
            animation: slideshow-reverse 20s linear infinite;
            
            @keyframes slideshow-reverse {
                0% {
                    right: 10%;
                }
                100% {
                    right: -200%;
                }
            }
        }
    }

    .clientes__mainbutton {
        @include button1();
        margin: 2rem auto 1rem;
        color: $white;
        font-weight: 500;
    }
}
