@import "../../../../../styles/padroes/padroes.scss";

.banner-desk {
    .banner__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 10rem 1.25rem 0 1.25rem;
        position: absolute;

        .banner__maintitle {
            @include title1;
            line-height: 150%;
            font-size: 3rem;
            text-align: center;
            max-width: 60%;
        }
        .banner__mainbutton {
            @include button1;
            padding: 0.875rem 3rem;
            gap: 0;

            .banner__button__text {
                font-weight: 400;
                font-size: 1.125rem;
            }

            .banner__button__icon {
                width: 0;
                transition: all 0.5s ease;
            }

            &:hover {
                transition: ease-in-out 0.5s;
                background-color: $greenhover;

                .banner__button__icon {
                    width: 11px;
                    margin-left: 1rem;
                }
            }
        }
    }
    .banner__bg {
        width: 100%;
        padding-top: 20rem;
        z-index: -1;
    }

    .banner__polygonbox {
        background-color: $background;
        z-index: -1;

        .banner__polygon {
            z-index: 0;
            width: 100%;
            bottom: 2.35rem;
            position: relative;
        }
    }
}
