@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.biografias__container-desk {
  background: #21594F;
  display: flex;
  flex-direction: column;
  padding: 3.75rem 0rem 5rem 0rem;
  justify-content: center;
}
.biografias__container-desk .biografias__people {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: flex-start;
  justify-content: center;
}
.biografias__container-desk .biografias__people .biografias__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #F3F3F3;
  width: 22.4%;
}
.biografias__container-desk .biografias__people .biografias__body .foto__consultores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  max-width: 100%;
}
.biografias__container-desk .biografias__people .biografias__body .biografias__body__desc {
  margin-top: -5px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  background: #FFF;
}
.biografias__container-desk .biografias__people .biografias__body .biografias__body__desc .body__title {
  color: #21594F;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}
.biografias__container-desk .biografias__people .biografias__body .biografias__body__desc .body__text {
  color: #353A42;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  align-self: stretch;
}