@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.testimony-main-container {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .testimony-main-container {
    width: 65vw;
    margin-inline: auto;
  }
}
.testimony-titles-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  padding-inline: 1rem;
  gap: 1.5rem;
}
.testimony-titles-container .testimony-title {
  color: #8a8a8a;
  text-align: left;
  font-size: 0.75rem;
  font-family: Montserrat;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 1008px) {
  .testimony-titles-container .testimony-title {
    font-size: 1rem;
    text-align: center;
  }
}
.testimony-titles-container .testimony-subtitle {
  color: #353A42;
  text-align: left;
  font-size: 2rem;
  font-family: Montserrat;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.testimony-titles-container .testimony-subtitle span {
  color: #21594F;
  font-weight: 500;
  font-size: 2rem;
  font-family: Montserrat;
}
@media screen and (min-width: 1008px) {
  .testimony-titles-container .testimony-subtitle {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 45vw;
    margin-inline: auto;
  }
  .testimony-titles-container .testimony-subtitle span {
    font-size: 3rem;
  }
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-prev,
.slick-slider .slick-next {
  background: none;
  border: none;
  opacity: 0.75;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  z-index: 2;
}
.slick-slider button.slick-prev {
  left: 28%; /* Altere para ajustar a posição */
  font-size: 0;
}
.slick-slider button.slick-next {
  right: 27.5%; /* Altere para ajustar a posição */
  font-size: 0;
}
.slick-slider .slick-prev::before {
  content: url("../../../assets/imagens/svg/left-arrow.svg");
  display: block;
  cursor: pointer;
  font-size: 0 !important;
}
.slick-slider .slick-next::before {
  content: url("../../../assets/imagens/svg/right-arrow.svg");
  display: block;
  font-size: 0 !important;
  cursor: pointer;
}

.testimonial-slide .testimonial-content {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding: 20px;
  border-radius: 10px;
  gap: 1rem;
  margin-bottom: 2rem;
  height: 390px;
  justify-content: center;
}
@media screen and (min-width: 1008px) {
  .testimonial-slide .testimonial-content {
    padding: 48px 52px;
    margin-bottom: 80px;
    height: 470px;
    justify-content: center;
  }
}
.testimonial-slide .testimonial-content .testimonial-profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.testimonial-slide .testimonial-content .testimonial-profile .testimonial-name-position {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.testimonial-slide .testimonial-content .testimonial-profile .testimonial-name-position .testimonial-name {
  color: #353a42;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
}
.testimonial-slide .testimonial-content .testimonial-profile .testimonial-name-position .testimonial-position {
  color: #353a42;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 300;
}
.testimonial-slide .testimonial-content .testimonial-profile .testimonial-image {
  max-width: 60px;
}
.testimonial-slide .testimonial-content .testimonial-desciption .testimonial-description-content {
  color: #353a42;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5rem;
}
@media screen and (min-width: 1008px) {
  .testimonial-slide .testimonial-content .testimonial-desciption .testimonial-description-content {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.testimonial-slide .testimonial-content .testimonial-desciption .testimonial-description-content span {
  font-weight: 600;
}
.testimonial-slide .testimonial-content .testimonial-video .testimonial-button-video {
  cursor: pointer;
  font-size: 0.75rem;
  background: #21594F;
  font-family: Montserrat;
  width: 190px;
  display: flex;
  padding: 12px 40px;
  border-radius: 8px;
  border: none;
  color: #FFF;
  gap: 16px;
  text-decoration: none;
  align-items: center;
  transition: ease-in-out 0.6s;
  animation: ease-in-out 0.6s;
  white-space: nowrap;
}
.testimonial-slide .testimonial-content .testimonial-video .testimonial-button-video:hover {
  background: #0D4238;
  width: 210px;
}
.testimonial-slide .testimonial-content .testimonial-video .testimonial-button-video:hover img {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  transition: fadeIn ease-in-out 0.6s;
  animation: fadeIn ease-in-out 0.6s;
}
.testimonial-slide .testimonial-content .testimonial-video .testimonial-button-video img {
  display: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  transition: all 0.5s ease;
}

.slick-center .testimonial-content {
  transform: scale(1);
}

.slick-slide:not(.slick-center) {
  opacity: 1;
  filter: blur(3px);
  transform: scale(0.9);
}
@media screen and (min-width: 1008px) {
  .slick-slide:not(.slick-center) {
    opacity: 1;
    filter: blur(3px);
    transform: scale(0.75);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  /* Fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  position: relative;
  border-radius: 8px;
  max-width: 800px;
  width: 65%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1001;
}
.modal-content .modal-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  aspect-ratio: 9/16;
  max-height: 100%;
}
@media screen and (min-width: 1008px) {
  .modal-content .modal-content-inner {
    aspect-ratio: 16/9;
  }
}
.modal-content .modal-content-inner .modal-close-button {
  top: 4px;
  position: absolute;
  right: 8px;
  border-radius: 4px;
  border: none;
  background: none;
  z-index: 999;
}
.modal-content .modal-content-inner .modal-close-button img:hover {
  filter: opacity(0.5);
  cursor: pointer;
}