p,
h2,
h3 {
  margin: unset;
}

body {
  overflow-x: hidden;
}

.testimony-main-container {
  overflow: hidden;
}

@media screen and (min-width: 1200px){
  .testimony-main-container {
    width: 65vw;
    margin-inline: auto;
  }
}


.testimony-titles-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1.5rem;
  padding-inline: 1rem;
  gap: 1.5rem;

  .testimony-title {
    color: #8a8a8a;
    text-align: left;
    font-size: .75rem;
    font-family: Montserrat;
    font-weight: 500;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1008px) {
    .testimony-title {
      font-size: 1rem;
      text-align: center;
    }
  }

  .testimony-subtitle {
    color: #353A42;
    text-align: left;
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 300;
    margin-bottom: 1.5rem;

    span {
      color: #21594F;
      font-weight: 500;
      font-size: 2rem;
      font-family: Montserrat;
    }

    @media screen and (min-width: 1008px) {
      font-size: 3rem;
      margin-bottom: 3rem;
      text-align: center;
      width: 45vw;
      margin-inline: auto;

      span {
        font-size: 3rem;
      }
    }
  }
}

.slick-slider {
  position: relative;

  .slick-prev, 
  .slick-next {
    background: none;
    border: none;
    // background-color: red;
    opacity: 0.75;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    z-index: 2;
  }

  button.slick-prev {
    left: 24%; /* Altere para ajustar a posição */
    font-size: 0;
  }

  button.slick-next {
    right: 27.5%; /* Altere para ajustar a posição */
    font-size: 0;
  }
  
  .slick-prev::before {
    content: url('../../../../../assets/imagens/svg/left-arrow.svg');
    display: block;
    cursor: pointer;
    font-size: 0 !important;
  }

  .slick-next::before {
    content: url('../../../../../assets/imagens/svg/right-arrow.svg');
    display: block;
    font-size: 0 !important;
    cursor: pointer;
  }
}

.testimonial-slide {

  .testimonial-content {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 10px;
    gap: 1rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 1008px) {
      padding: 48px 52px;
      margin-bottom: 80px;
    }

    .testimonial-profile {
      display: flex;
      align-items: center;
      gap: .75rem;

      .testimonial-name-position {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .testimonial-name {
          color: #353a42;
          font-family: Monteserrat;
          font-weight: 400;
        }

        .testimonial-position {
          color: #353a42;
          font-family: Monteserrat;
          font-size: .875rem;
          font-weight: 100;
        }
      }
    }

    .testimonial-desciption {

      .testimonial-description-content {
        color: #353a42;
          font-family: Monteserrat;
        font-size: .875rem;
        font-style: italic;
        font-weight: 300;
        line-height: 1.5rem;

        @media screen and (min-width: 1008px) {
          font-size: 1.125rem;
          line-height: 2rem;
        }
      }
    }

    .testimonial-video {

      .testimonial-button-video {
        display: flex;
        gap: 6px;
        align-items: center;
        padding: .875rem 1rem;
        border-radius: 8px;
        border: 1px solid #21594F;
        background: none;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        color: #21594F;
        font-family: Monteserrat;
        cursor: pointer;
      }

    }
  }
}

.slick-track {
  display: flex !important;
  // gap: 8px;
}

.slick-slide {
  transition: all 0.5s ease;
}

.slick-center .testimonial-content {
  transform: scale(1);
}

.slick-slide:not(.slick-center) {
  opacity: 1;
  filter: blur(3px);
  transform: scale(0.9);

  @media screen and (min-width: 1008px) {
    opacity: 1;
    filter: blur(3px);
    transform: scale(.75);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  /* Fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  border-radius: 8px;
  max-width: 800px;
  width: 65%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1001;

  @media screen and (min-width: 1008px) {
  }

  .modal-content-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    aspect-ratio: 9 / 16;
    max-height: 100%;

    @media screen and (min-width: 1008px) {
      aspect-ratio: 16 / 9;
    }
  
    .modal-close-button {
      top: 4px;
      position: absolute;
      right: 8px;
      border-radius: 4px;
      border: none;
      background: none;
      z-index: 999;

      img:hover {
        filter: opacity(0.5);
        cursor: pointer;
      }
    }
  }
}

