@import '@/app/styleGuide.scss';

.home .ourClients .ourClientsContainer {
    padding-block: 0;
}

.blockTitle {
    padding-bottom: 2rem;
}

.ourClients {
    padding: 20px 0 40px;
    background: $background;

    border-radius: 20px 20px 0 0;

    .ourClientsContainer {
        margin-inline: 250px;
        padding-block: 11.5rem;

        .tag {
            text-align: center;
            font-style: normal;
            font-weight: 300;
            line-height: 1.5;
            color: #353a42;
            font-size: .75rem;
            font-weight: 500;
            padding-bottom: 0.5rem;
            color: #8a8a8a;
            margin-inline: 20px;
        }
    }

    .blockTitle {
        line-height: normal;
        font-weight: 300;
        font-size: 2.5rem;

        text-align: center;

        .textHighlight {
            font-style: normal;
            line-height: 1.5;
            color: #21594f;
            font-weight: 500;
        }
    }
}

.clientList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // gap: 32px;
    column-gap: 0px;
    row-gap: 60px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    justify-items: center;

    .blockTitle {
        margin-block: 1.5rem 1rem;
    }

    >div {
        display: flex;
        height: 30px;
        width: 100%;
        justify-content: center;

        >svg {
            width: 100%;
            height: auto;
            max-width: 130px;
        }

        >img {
            width: 100%;
            height: auto;
            object-fit: contain;
            max-width: 130px;
        }
    }

    .clientWrapper {
        display: flex;
        width: 100%;

        div {
            background-color: #f7f7f7;
            border: none;
            width: 100%;
            height: 82px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }
        }
    }
}

.knowMoreLink {
    cursor: pointer;
    font-size: .75rem;
    background: $green;
    font-family: Montserrat;
    width: fit-content;
    display: flex;
    padding: 12px 40px;
    border: none;
    color: $white;
    gap: 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center !important;

    transition: ease-in-out 0.6s;
    animation: ease-in-out 0.6s;

    margin-inline: auto;

    white-space: nowrap;
    margin-top: 2rem;
    text-align: center;
    border-radius: 5px;

    &:hover {
        background: $greenhover;

        // width: 210px;
        .knowMoreArrow {
            display: block;
            width: fit-content;
            transition: fadeIn ease-in-out 0.6s;
            animation: fadeIn ease-in-out 0.6s;
        }
    }

    .knowMoreArrow {
        display: none;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@media (max-width: 1008px) {
    .ourClientsContainer {
        margin-inline: 0px !important;
    }

    .clientList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0px;
        row-gap: 60px;
        width: 100%;
        max-width: 100%;
        padding: 20px;
        padding-block: 2rem;

        >div {
            display: flex;
            height: 30px;
            width: 100%;
            justify-content: center;

            >svg {
                width: 100%;
                height: auto;
                max-width: 100px;
            }

            >img {
                width: 100%;
                height: auto;
                max-width: 100px;
                object-fit: contain;
            }
        }
    }
}