.header__container{
    display: flex;
    width: 100%;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    z-index: 9;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(6px);
    

    .header__menu-button{
        position: absolute;
        right: 2.5rem;

    }
}

.placeholder{
    width: 100%;
    height: 3rem;
    position: relative;
}