.header__container {
  display: flex;
  width: 100%;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.header__container .header__menu-button {
  position: absolute;
  right: 2.5rem;
}