.header {
    height: 49px;
}

.headerContainer {
    display: flex;
    width: 100%;
    padding: 1rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    z-index: 9;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(6px);

    .headerLogo {
        display: flex;
        width: fit-content;
        height: auto;
    }

    .headerMenuButton {
        display: flex;
        width: fit-content;
        height: auto;
        position: absolute;
        right: 2.5rem;
        top: 1rem;
    }


    // .menuBodyNav {
    //     position: fixed;
    //     inset: 0;
    //     z-index: 2;
    //     height: 100vh;
    //     width: 100vw;
    //     overflow: hidden;
    //     background-color: #21594F;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     gap: 1rem;
    //     padding: 1rem;
    //     a{
    //         color: #fff;
    //     }
    // }
}

.menuContainer {
    background-color: #21594F;
    padding: 1.25rem;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    animation: fadeIn 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inset: 0;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .menuHeader {
        display: flex;
        justify-content: space-between;
        position: fixed;

        .menuHeaderLogo,
        .menuHeaderClosebtn {
            position: fixed;
        }

        .menuHeaderClosebtn {
            right: 1.25rem;
        }
    }

    .menuBodyNav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        margin-top: 5.625rem;
        list-style: none;

        .menuBodyLink {
            color: #fff;
            text-align: center;
            font-size: 2rem;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            text-decoration: none;
        }
    }

    .menuFooter {
        .menuSubtitle {
            // @include title2;
            color: #fff;
            line-height: 1.125rem;
            letter-spacing: 0.03125rem;
            margin-bottom: 0.5rem;
        }

        .menuFooterText {
            color: #fff;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.3125rem;
            letter-spacing: 0.03125rem;
            margin-bottom: 2.62rem;
            text-decoration: none;
        }

        .redesSociais {
            margin-right: 2.5rem;
        }
    }
}