@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
.menu__container {
  background-color: #21594F;
  padding: 1.25rem;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.menu__container .menu__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.3rem;
}
.menu__container .menu__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 9rem;
}
.menu__container .menu__body .menu__body__link {
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-decoration: none;
}
.menu__container .menu__footer .menu__subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  color: #8A8A8A;
  line-height: 1.125rem;
  letter-spacing: 0.03125rem;
  margin-bottom: 0.5rem;
}
.menu__container .menu__footer .menu__footer__text {
  color: #FFF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.03125rem;
  margin-bottom: 2.62rem;
  text-decoration: none;
}
.menu__container .menu__footer .redes__sociais {
  margin-right: 2.5rem;
}